.input {
    display: inline-block;
    border-radius: 0.3em;
    font-weight: 500;
    line-height: 1;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    border: 1px solid #ccc;
    outline: none;
    transition: all 0.2s ease;
}

.input-primary {
    background-color: #fff;
    color: #333;
    border-color: #ccc;
}

.input-primary:focus {
    border-color: #999;
}

.input-secondary {
    background-color: #fff0f6;
    color: #ff3092;
    border-color: #ffb3d1;
}

.input-secondary:focus {
    border-color: #ff3092;
}

.input-medium {
    padding: 10px 25px;
    font-size: 14px;
}
