.base {
    background-color: #fff;
    border: 0.5px solid #d9d9d9;
    border-radius: 4px;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
    font-weight: 500;
    line-height: 1;
    padding: 10px 25px;
    outline: none;
    transition: all 0.2s ease;
}

.base[type='number']::-webkit-inner-spin-button,
.base[type='number']::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.base[type='number'] {
    -moz-appearance: textfield;
    appearance: textfield;
}

.label {
    display: block;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
    margin-bottom: 0.3rem;
}

.mandatory {
    color: red;
    font-weight: 600;
}

.errorState .trigger {
    border: 1px solid #d32f2f;
}

.errorMessage {
    color: #d32f2f;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-size: 9px;
    font-style: italic;
    line-height: 16px;
    margin-top: 4px;
}

.primary {
    color: #333;
}

.primary:focus {
    border-color: #999;
    box-shadow: 0 0 0 3px rgba(0, 0, 0, 0.05);
}

.primary::placeholder {
    color: #999;
    font-weight: 400;
}

.secondary {
    background-color: #fff7fa;
    border-color: #ffb3d1;
    color: #ff3092;
}

.secondary:focus {
    border-color: #ff3092;
    box-shadow: 0 0 0 3px rgba(255, 48, 146, 0.12);
}

.secondary::placeholder {
    color: #ff3092;
    font-weight: 400;
}
