.base {
    align-items: center;
    border: 0.5px solid transparent;
    border-radius: 5px;
    cursor: pointer;
    display: inline-flex;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
    gap: 10px;
    justify-content: center;
    line-height: 1;
    transition: all 0.2s ease;
}

.primary {
    background-color: #dfdede;
    box-shadow: none;
}

.primary:hover {
    background-color: rgba(0, 0, 0, 0.05);
}

.secondary {
    background-color: #ffdbea;
    border-color: currentColor;
    color: #ff3092;
}

.secondary:hover {
    background-color: #ff2c8f;
    color: #ffdbea;
}

.small {
    font-size: 12px;
    padding: 8px 20px;
}

.medium {
    font-size: 14px;
    padding: 12px 25px;
}

.large {
    font-size: 16px;
    padding: 16px 30px;
}
